@page "/games"
@attribute [Page] 
@inherits PageMetadataBase

<PageTitle>@Localizer["EventHorizon - Games"]</PageTitle>

<h1>@Localizer["EventHorizon - Games"]</h1>

<p>@Localizer["This is a collection of games created by EventHorizon Games Studio"]</p>

<a href="https://ehz-pocket-immortal-demo.azurewebsites.net/game" target="_blank">
    <h2>@Localizer["Pocket Immortal"]</h2>
</a>

<p>
    @Localizer["This game is a simple mobile game, with features like a step counter, with a currency and crafting system using your steps as the base resource. It is built on top of web technology and should be playable in a variety of browsers. (Might take a minute or two to load.)"]
</p>