@page "/"
@inject Localizer<SharedResource> Localizer

<PageTitle>
    @Localizer["EventHorizon Games Studio"]
</PageTitle>

<h1>EventHorizon Games Studio</h1>
<span>Game Development Studio</span>

<div>
    @Localizer["Email: "]<a href="mailto:mail@ehzgames.studio">@Localizer["mail@ehzgames.studio"]</a>
</div>

<div class="social-container">
    <a class="social__icon-box" href="/s/twitch" target="_blank" title="@Localizer["EventHorizon Game Studio Twitch"]">
        <i class="fab fa-twitch"></i>
    </a>
    <a class="social__icon-box" href="/s/twitter" target="_blank"
        title="@Localizer["EventHorizon Game Studio Twitter"]">
        <i class="fab fa-twitter"></i>
    </a>
</div>

<div style="margin: 2rem 0; border: 1px solid white; padding: 1rem;">
    <AlphaRegistration />
</div>


<style>
    .social-container {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
    }

    .social__icon-box {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem;
        border: 1px solid white;
        padding: 1rem;
    }
</style>